---
const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title ? `${frontmatter.title} | Astro Tutorial` : 'Astro Tutorial'}</title>
	</head>
	<body>
    <h1>{frontmatter.title}</h1>
    <p>投稿日: {frontmatter.pubDate.toString().slice(0, 10)}</p>
    <p><em>{frontmatter.description}</em></p>
    <p>著者: {frontmatter.author}</p>
    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
		<slot />
	</body>
</html>

<style>
  img {
    background-color: black;
  }
</style>